body {
    background-color: #222;
    font-family: 'Roboto';
}

h1, h2 {
    color: #fff;
    text-align: center;
}

h1 {
    margin: 150px auto 30px auto;
}

.demo {
    max-width: 800px;
    margin: 20px auto;
}
